.icon-button {
    background-color: #f3f3f3; /* Légèrement gris */
    border: none;
    border-radius: 50%; /* Rend le bouton circulaire */
    width: 50px; /* Taille du bouton */
    height: 50px; /* Taille du bouton */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Ombre légère pour un effet 3D */
    transition: background-color 0.3s;
    margin: 10px;
}

.icon-button i {
    color: #555; /* Couleur de l'icône */
    font-size: 20px; /* Taille de l'icône */
}

.icon-button:hover {
    background-color: #e2e2e2; /* Changement de couleur au survol */
}








.button-container {
    display: flex;
    justify-content: center; /* Centrer horizontalement dans le conteneur */
    flex-wrap: wrap; /* Gérer le passage à la ligne si nécessaire */
}

.column > span {
    display: block;
    text-align: center;
    width: 100%;
}

.cont > span {
    display: inline-block;
    width: 100%;
}

.validate-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: green;
    font-size: 20px; 
    z-index: 10;
}

.carte {
    cursor: pointer;
    transition: border 0.3s;
    border: 2px solid transparent;
}

.carte:hover {
    border: 2px solid lightgreen;
}

.carte.selected {
    border: 2px solid green;
}


.container1 {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container1 h1 {
    font-size: 40px;
    letter-spacing: 2px;
    color: red;
    text-transform: uppercase;
    margin-bottom: 50px;
    filter: drop-shadow(0 0 20px red) drop-shadow(0 0 60px red);
    animation: textEffect 0.5s steps(1) infinite;
}

@keyframes textEffect {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.scanning {
    position: relative;
    background: url('../img/image.png');
    background-size: 300px;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}

.scanning::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/image-cover.png');
    background-size: 300px;
}

.scanning::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: red;
    border-radius: 5px;
    filter: drop-shadow(0 0 20px red) drop-shadow(0 0 60px red);
}

/* Animation class */
.animate::before {
    animation: scanning 3s ease-in-out infinite;
}

.animate::after {
    animation: scanLine 3s ease-in-out infinite;
}

@keyframes scanning {

    0%,
    100% {
        height: 0%;
    }

    50% {
        height: 100%;
    }
}

@keyframes scanLine {

    0%,
    100% {
        top: 0%;
    }

    50% {
        top: 100%;
    }
}
